<!--  Tool bar -->

<mat-menu #appMenuApp="matMenu">
  <a mat-menu-item (click)="search()">
    <mat-icon>search</mat-icon>
    Search</a>
  <a mat-menu-item (click)="add()">
    <mat-icon>edit</mat-icon>
    New</a>
  <!--<a mat-menu-item [routerLinkActive]="['active']" [routerLink]="['/upload']">Upload</a>-->
</mat-menu>

<mat-menu #appMenu="matMenu">
  <!--<button mat-menu-item> Settings </button>-->

  <mat-card>
    <mat-card-content>
      {{user.first_name}} {{user.last_name}}
      {{user.email}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button *ngIf="isAuthentified()" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Log Out
      </button>
    </mat-card-actions>
  </mat-card>
</mat-menu>

<div class="header-toolbar">
  <mat-toolbar color="primary" role="application">
    <span>
      <button mat-icon-button [matMenuTriggerFor]="appMenuApp">
      <mat-icon>apps</mat-icon>
      </button>
    </span>

    <span>My webmarks</span>
    <span class="fill-remaining-space"></span>
    <span>
    <!--<app-simple-dnd></app-simple-dnd>  <button mat-icon-button [routerLinkActive]="['active']" [routerLink]="['/favorites/detail/0']" placeholder="New Note">
        <mat-icon>create</mat-icon>
    </button>-->

  </span>

    <span>

    <button class="mat-tool-fab" color="primary" mat-mini-fab [matMenuTriggerFor]="appMenu">{{username1()}}</button>
  </span>
  </mat-toolbar>

  <!-- / Tool bar -->
  <!-- <nav mat-tab-nav-bar style="background-color: white">
  <a mat-tab-link  [routerLink]="['search']"  routerLinkActive #rla="routerLinkActive" [active]="rla.isActive"><mat-icon>search</mat-icon></a>
  <a mat-tab-link  [routerLink]="['list']"  routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive"> <mat-icon>view_list</mat-icon></a>
  <a mat-tab-link  [routerLink]="['folders']"  routerLinkActive #rla3="routerLinkActive" [active]="rla3.isActive"> <mat-icon>folder</mat-icon></a>
</nav>-->

  <!-- <nav mat-tab-nav-bar aria-label="">
          <a mat-tab-link [ngClass]="{'item-active' : activeLinkIndex == i}"
            *ngFor=" let routeLink of routerStore.routeLinks ; let i = index"
             [routerLink]="routeLink.link"
             [active]="activeLinkIndex === i"
             (click)="activeLinkIndex = i" >
               <mat-icon> {{routeLink.label}}</mat-icon>
         </a>
</nav>-->
  <!--<mat-tab-group>
    <mat-tab ng-repeat="tab in tabs"  label=TEST></mat-tab>

</mat-tab-group>-->
  <!-- dont remove background-color -->
  <nav mat-tab-nav-bar aria-label="" style="background-color: white">
    <a mat-tab-link [ngClass]="{'item-active' : tabStore.activeTabIndex == i}"
       *ngFor=" let tab of tabStore.tabs ; let i = index"
       [active]="tabStore.activeTabIndex === i" (click)="tabStore.activeTabIndex = i"
       [routerLink]="tab.link">
      <mat-icon> {{tab.icon}}</mat-icon>
      {{tab.label}}
    </a>
  </nav>

</div>
<!-- hide header in  style.css -->
<div id="webmarkapp" style="padding-top: 110px !important">
  <mat-tab-group [(selectedIndex)]="tabStore.activeTabIndex" dynamicHeight="false" #tabGroup class="noheader">

    <mat-tab>
      <div class="container">
        <app-folder-list></app-folder-list>
      </div>
    </mat-tab>

    <!-- <mat-tab>
       <app-bookmark-search></app-bookmark-search>
     </mat-tab>-->

    <mat-tab>
      <app-bookmark-list></app-bookmark-list>
    </mat-tab>

    <mat-tab>
      <router-outlet></router-outlet>
    </mat-tab>

  </mat-tab-group>

</div>
