<!--header
<div class="navbar navbar-default navbar-fixed-top">
  <div class="containers">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" [routerLink]="['/']" tooltip="Search Notes"><span class="fa fa-home"></span> 01NOTES!</a>
     </div>

    <ul class="nav navbar-nav "  >
      <li role="presentation"><a [routerLinkActive]="['active']" [routerLink]="['./favorites']">Favorites</a></li>
      <li role="presentation"><a [routerLinkActive]="['active']" [routerLink]="['./favorites']">Notes</a></li>
      <li role="presentation"><a [routerLinkActive]="['active']" [routerLink]="['./tags']">Tags</a></li>
      <li role="presentation"><a [routerLinkActive]="['active']" [routerLink]="['./favorites']">Paramétrage</a></li>
    </ul>

    <nav *ngIf="isAuthentified()" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right profile">
        <li class="dropdown top_nav">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">user <span class="caret"></span></a>
          <ul class="dropdown-menu">
                <li><a class="nav-link" (click)="logout()"><i class="fa fa-sign-out pull-right"></i>Log Out</a>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav"></ul>
    </nav>

  </div>


</div>-->


<mat-menu #appMenuApp="matMenu">
    <a mat-menu-item  [routerLinkActive]="['active']" [routerLink]="['//']">Home</a>
    <a mat-menu-item  [routerLinkActive]="['active']" [routerLink]="['/favorites']">Favorites</a>
    <a mat-menu-item [routerLinkActive]="['active']" [routerLink]="['/tags']">Tags</a>
</mat-menu>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item> Settings </button>
  <button mat-menu-item *ngIf="isAuthentified()"> Log Out </button>
</mat-menu>

<mat-toolbar color="primary">
 <span>
    <button mat-icon-button [matMenuTriggerFor]="appMenuApp">
    <mat-icon>apps</mat-icon>
    </button>
  </span>
  <span>{{title}}</span>
  <!--<a mat-button [routerLinkActive]="['active']" [routerLink]="['//']"><span class="fa fa-home"></span><span>01NOTES!</span></a>
  <a mat-button [routerLinkActive]="['active']" [routerLink]="['./favorites']">Notes</a>
  <a mat-button [routerLinkActive]="['active']" [routerLink]="['./tags']">Tags</a>-->
  <!-- This fills the remaining space of the current row -->

  <span class="example-fill-remaining-space"></span>

  <span>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
    </button>
  </span>
</mat-toolbar>

<!--<mat-toolbar>
<span>
  <nav mat-tab-nav-bar>
    <a mat-tab-link   [routerLink]="['./favorites']"   routerLinkActive #rla1="routerLinkActive" [active]="rlaSafe && rla1.isActive">   Favorites  </a>
    <a mat-tab-link   [routerLink]="['./favorites']"   routerLinkActive #rla2="routerLinkActive" [active]="rlaSafe && rla2.isActive">  Notes  </a>
    <a mat-tab-link   [routerLink]="['./tags']" routerLinkActive #rla3="routerLinkActive" [active]="rlaSafe && rla3.isActive">   Tags  </a>

  </nav>
</span>


</mat-toolbar>-->



<!--/header -->
