<!-- search -->
<div class="app-note-search-content">


  <div class="row">
    <md-card>
      <md-card-content>
        <md-button-toggle-group #type="mdButtonToggleGroup" [(ngModel)]="filter.type">
          <md-button-toggle value="{{TYPE_LINK}}">
            <md-icon>link</md-icon>Link
          </md-button-toggle>
          <md-button-toggle value="{{TYPE_NOTE}}">
            <md-icon>note</md-icon>Note
          </md-button-toggle>
          <md-button-toggle value="{{TYPE_TODO}}">
            <md-icon>schedule</md-icon>Todo
          </md-button-toggle>
        </md-button-toggle-group>
      
         
      </md-card-content>
    </md-card>
    
    <md-card>
      <md-input-container class="full-width">
        <input mdInput placeholder="Title contains">
      </md-input-container>
    </md-card>
  </div>

  <div class="row">
    <app-tag-select-card [(tagSelected)]="filter.tags" (tagAdded)="tagAdded($event)" (tagRemoved)="tagRemoved($event)"></app-tag-select-card>
  </div>
</div>