<div class="col-md-12 column">
  <div id="system-message-container"></div>



  <div class="page-header">
    <h2 itemprop="headline">
      Règles de confidentialité </h2>
  </div>

  <div itemprop="articleBody">
    <p>Nous apprécions votre intérêt pour le site   <b>webmarks.net</b><br>
      <br> Les données personnelles dont nous prenons connaissance sont protégées en vertu des dispositions légales. Ci-dessous
      vous trouverez des informations sur les données qui sont collectées et comment elles sont utilisées.
      <br>
            <br> <strong>Collecte et acquisition de données personnelles</strong>
            <br> Les données personnelles sont recueillies uniquement dans la mesure où nous en avons besoin pour l'authentification
            sur le site.(email,nom , prenom)
            <br><br>
            <strong>Traitement de données à caractère personnel</strong> 
            <br>
            Nous ne divulguerons pas vos données personnelles à des tiers.
            <br><br> 
            <strong>Utilisation des données personnelles</strong>
            <br> Il n'y a aucune utilisation de vos données
            personnelles à des fins de recherche de marchés ou pour vous envoyer du matériel publicitaire ou des bulletins
            d'informations
            <br><br>
            <strong>Utilisation de Google Analytics</strong>
            <br> Ce site internet n'utilise pas Google Analytics, un site
            d’analyse de site internet de Google Inc. (« Google »). Google Analytics utilisent des cookies, des fichiers
            textes qui sont enregistrés sur votre ordinateur et qui permettent d’analyser votre utilisation du site internet.
            <br><br>

            <strong>Cookies</strong>
            <br> Nos pages web utilisent des cookies à plusieurs endroits. Les cookies sont de petits fichiers texte placés
            sur votre ordinateur et enregistrés par votre navigateur. Ils servent à rendre notre site plus convivial, plus
            efficace et plus sûr. De plus, les cookies permettent à nos systèmes de reconnaître votre navigateur et de vous
            offrir des services. <br> Les cookies ne contiennent pas de données personnelles.<br><br>
          </p>
        </div>


      </div>