<div class="app-tag-select-card">
  <md-card class="md-card">
      
      <md-card-content>
        <md-chip-list >
                <!--<div *ngFor="let tag of  tags " class='tag-cloud size-{{tag.size}} {{tag.itemclass}}' id="{{tag.id}}">{{tag.name}}</div>-->
                <md-chip  *ngFor="let tag of  tags"   [color]="tag.color" selected="true" (click)="selectItem(tag)" class="background-primary-color white-text">{{tag.name}}</md-chip>
                <md-chip  *ngIf="nextLink" class='tag-cloud' (click)="next()">...</md-chip>
        </md-chip-list>
      </md-card-content>
      <md-card-actions>
      <button md-button (click)="openTagCreateDialog()">NEW TAG</button>
    </md-card-actions>
  </md-card>
</div>