<div class="app-tag-select-card">
 <mat-card class="mat-card">
  <mat-chip-list>
          <mat-chip *ngFor="let tag of  tags | callback: filterSelected " [selected]="!disabled" (click)="selectItem(tag)"  [disabled]="disabled">{{tag.name}}</mat-chip>
  </mat-chip-list>
 </mat-card>

  <mat-card class="mat-card">

    <mat-card-content id="conteneur" *ngIf="!disabled" >
      <mat-chip-list>
        Select a Tag <mat-chip *ngFor="let letter of  letters"  (click)="selectLetter(letter)" [disabled]="disabled">{{letter.name}}</mat-chip>
      </mat-chip-list>
    </mat-card-content>

    <mat-card-content id="conteneur" *ngIf="!disabled">
      <mat-chip-list>
        <mat-chip *ngFor="let tag of  tags | callback: filterNotSelected" (click)="selectItem(tag)"  [selected]="tag.show"  [ngClass]="{'background-primary-color': true}">{{tag.name}}</mat-chip>
        <mat-chip *ngIf="nextLink" class='tag-cloud' (click)="next()" [disabled]="disabled">...</mat-chip>
        <!--<div *ngFor="let tag of  tags" >disabled:{{disabled}}/{{tag.name}}:{{tag.color}}:{{tag.selected}} / </div>-->
      </mat-chip-list>
    </mat-card-content>

    <mat-card-actions *ngIf="!readonly">
      <button mat-button (click)="openTagCreateDialog()" [disabled]="disabled">NEW TAG</button>
    </mat-card-actions>
  </mat-card>
</div>
