<!-- search -->
<div class="app-note-search-content">

  <div class="container">

    <div class="row">
    <!--
      <md-toolbar>
       <span>Search</span>
      <span class="fill-remaining-space"></span>
      <span>
        <button md-icon-button (click)="search()" placeholder="Search">
            <md-icon>youtube_searched_for</md-icon> 
        </button>
      </span>
      </md-toolbar>
    -->
      <div id="conteneur">
        <md-card>
          <md-card-content>
            <md-button-toggle-group #type="mdButtonToggleGroup" [(ngModel)]="filter.kind">
              <md-button-toggle value="{{KIND_LINK}}">
                <md-icon>link</md-icon>Link
              </md-button-toggle>
              <md-button-toggle value="{{KIND_NOTE}}">
                <md-icon>note</md-icon>Note
              </md-button-toggle>
              <md-button-toggle value="{{KIND_TODO}}">
                <md-icon>schedule</md-icon>Todo
              </md-button-toggle>
            </md-button-toggle-group>
          </md-card-content>
        </md-card>
        <md-card>
         <!-- <button md-raised-button color="primary" [routerLink]="['../list']" placeholder="Search">Search Webmark(s)</button>-->
        </md-card>
      </div>

      <md-card>
        <md-input-container class="full-width">
          <input mdInput placeholder="Title contains">
        </md-input-container>
      </md-card>
    </div>

    <div class="row">
      <app-tag-select-card [(tagSelected)]="filter.tags" (tagAdded)="tagAdded($event)" (tagRemoved)="tagRemoved($event)" readonly="true"></app-tag-select-card>
    </div>
  </div>
</div>