.opaque {
    /*font-style: italic;*/
    opacity: .5;
    font-weight: 300;
}

.element:nth-child(3) /* On prend le deuxième bloc élément */
{
   /* background-color: blue;*/
    align-self: center; /* Seul ce bloc sera aligné à la fin */
}