<h1 md-dialog-title>
  Create a new Tag</h1>

<!--<div md-dialog-content>Please Enter a Tag Name:</div>-->
<form role="form" [formGroup]="form" novalidate>

  <md-input-container class="example-full-width">
    <input mdInput placeholder="Name" type="text" formControlName="name" #elm required>
    <md-hint *ngIf="form.controls.name.errors && (form.controls.name.dirty || form.controls.name.touched)" [ngStyle]="{'color': 'red'}">
      {{form.controls.name.errors.message}}</md-hint>
     <md-hint *ngIf="form.controls.non_field_errors.value" [ngStyle]="{'color': 'red'}">
    {{form.controls.non_field_errors.value}}</md-hint>
  </md-input-container>

  <div md-dialog-actions>
    <button md-button (click)="create()">create</button>
    <button md-button (click)="close()">cancel</button>
  </div>
</form>