<!--  Tool bar -->



<md-menu #appMenu="mdMenu">
    <button md-menu-item> Settings</button>
</md-menu>

<div class="app-login-content">

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3 ">
            <md-card>
                <md-toolbar color="primary">
                    <div style="text-align: center;width: 100%">
                        <h2>Sign in to your Account</h2>
                    </div>
                </md-toolbar>

                <md-card-content>
                    <form role="form" [formGroup]="form" novalidate>
                        <md-input-container class="full-width">
                            <md-icon md-prefix>perm_identity</md-icon>
                            <input mdInput placeholder="Username" formControlName="username" required>
                            <md-hint *ngIf="form.controls.password.errors && (form.controls.username.dirty || form.controls.username.touched)" [ngStyle]="{'color': 'red'}">
                                {{form.controls.username.errors.message}}</md-hint>
                        </md-input-container>

                        <md-input-container class="full-width">
                            <md-icon md-prefix>lock</md-icon>
                            <input mdInput placeholder="Password" type="password" formControlName="password" #elm required>
                            <md-hint *ngIf="form.controls.password.errors && (form.controls.password.dirty || form.controls.password.touched)" [ngStyle]="{'color': 'red'}">
                                {{form.controls.password.errors.message}}</md-hint>
                        </md-input-container>

                        <md-hint *ngIf="form.controls.non_field_errors.value" [ngStyle]="{'color': 'red'}">
                            {{form.controls.non_field_errors.value}}</md-hint>

                        <button md-raised-button color="primary" (click)="login()" [disabled]="!form.valid">SIGN IN</button>

                    </form>
                </md-card-content>
                <div class="form__orDivider">have an account ? <a [routerLink]="['/register']">Register a new account</a></div>
                <div class="form__orDivider">– OR –</div>
                <div>

                </div>
                <!--<button md-raised-button color="primary" (click)="signOut()" [disabled]="!form.valid">SIGN OUT</button>-->

            </md-card>
            <!--<md-card>
                <div class="g-signin2" data-onsuccess="onGoogleLoad">button</div>
            </md-card>
            -->

            <!--<md-card class="example-card">
                <button md-raised-button color="primary" (click)="liAuth()">SIGN IN with linkedin</button>
            </md-card>
            -->
           <!-- <md-card *ngFor="let account of socialAccounts">
                <md-card-header>
                    <div md-card-avatar class="example-header-image"></div>
                     <md-card-title>{{account.firstName}} </md-card-title>
                </md-card-header>
                <md-card-content>
                    <div md-card-avatar class="example-header-image"></div>
                    <md-card-title>{{account.firstName}} </md-card-title>
                    <md-card-subtitle>{{account.lastName}} </md-card-subtitle>
                    <md-card-subtitle>{{account.email}} </md-card-subtitle>
                </md-card-content>
            </md-card>-->
            <md-card>
                <app-login-google (signInChange)="onGoogle($event)" clientId="28025127281-bc876va0d6rvv0ltt6iflt8j4qrg033k.apps.googleusercontent.com"></app-login-google>
            </md-card>
            <md-card>    
                <app-login-linked-in (signInChange)="onLinkedIn($event)" clientId="77jyupgk7s70w1"></app-login-linked-in>
            </md-card>
        
        </div>
       
    </div>

</div>

<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
/>