

.mini-fab {
  position: absolute;
  right: 20px;
  bottom: 30px;
}

.tiny-container  {
  height: 50px;
  min-height: 50px;
}


/*bug https://github.com/angular/material2/issues/1881*/
.md-input-prefix md-icon, .md-input-suffix md-icon  { 
  vertical-align: text-bottom;
}

.app-note-detail-content md-card {
 /* margin-left: 20px;
  margin-right: 20px;*/
  margin-top: 1px;
} 

/*.app-note-detail-content div.row.note {
  margin: 20px;
}*/

.app-note-detail-content div.row {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.app-note-detail-content div.row md-card {
  margin-left: 1px;
  margin-right: 1px;
}
 

/*.app-tag-select-card.md-card {
  margin-left: 1px !important;
  margin-right: 1px !important;
}*/

md-card.md-card.mat-card{
   margin-left: 1px ;
}

md-card.rating.mat-card{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px ;
    margin-bottom: 1px ;
}

md-card.date.mat-card{
  margin: 10px ;
}