<!--
<mat-menu #appMenuAppNew="matMenu">
  <a mat-menu-item [routerLinkActive]="['active']" [routerLink]="['//']">Home</a>
</mat-menu>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item *ngIf="isAuthentified()" (click)="logout()"> Log Out </button>
</mat-menu>

<mat-toolbar color="primary">
  <span>
    <button mat-icon-button (click)="back()"><mat-icon>keyboard_backspace</mat-icon> </button>
  </span>
  <span *ngIf="note.id">{{note.title}}</span>
  <span *ngIf="!note.id">Create a new bookmark</span>
  <span class="fill-remaining-space"></span>

  <span>
    <button *ngIf="note.title" mat-icon-button (click)="save(note)" placeholder="Save">
        <mat-icon>save</mat-icon>
    </button>
    <a *ngIf="note.url && note.id" mat-icon-button target="_blank" href="{{note.url}}"><mat-icon>open_in_browser</mat-icon></a>
  </span>
  <span>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </span>
</mat-toolbar>-->

<!--<div class="container">-->

  <!--<div class="row">-->
    <!--&lt;!&ndash;  Tool bar &ndash;&gt;-->
    <!--<div class="app-note-detail-content">-->
      <!-- TOOLBAR  -->
      <mat-toolbar>
        <span *ngIf="!bookmark.title">Create New {{bookmark.kind}}</span>
        <span *ngIf="bookmark.title">{{bookmark.title}}</span>

        <span class="fill-remaining-space"></span>
        <span>
                <button mat-icon-button *ngIf="bookmark.title" (click)="save(bookmark)" placeholder="Search" [disabled]="modeEdition==false">
                <mat-icon  [color]="getColorEdition()" >save</mat-icon>
                </button>
        </span>
        <mat-slide-toggle [checked]="modeEdition" [(ngModel)]="modeEdition"></mat-slide-toggle>
      </mat-toolbar>
      <!--  END TOOLBAR  -->
      <!--  CONTENT  -->
      <div style="display: flex;flex-wrap: wrap; margin: 5px">
        <!--<div>-->
          <!--<mat-button-toggle-group #type="matButtonToggleGroup" [(ngModel)]="bookmark.kind" >-->
            <!--<mat-button-toggle *ngFor="let type of KINDS " value="{{type.kind}}" [disabled]="modeEdition==false">-->
              <!--<mat-icon>{{type.icon}}</mat-icon>{{type.kind}}</mat-button-toggle>-->
          <!--</mat-button-toggle-group>-->
        <!--</div>-->
        <div>
            <app-rating [(rate)]="bookmark.rate" (rate-change)="onRate($event)" [disabled]="modeEdition==false"></app-rating>
        </div>
        <div class="fill-remaining-space"></div>
        <div style="display: flex;align-items: center;margin-right:10px; " >
          <mat-icon *ngIf="bookmark.favorite" color="accent" (click)="selectFavorite(false)" >favorite</mat-icon>
          <mat-icon *ngIf="!bookmark.favorite" color="accent" (click)="selectFavorite(true)">favorite_border</mat-icon>
          <mat-checkbox color="primary" [(ngModel)]="bookmark.favorite" class="hidden" >Fav</mat-checkbox>
        </div>
      </div>


      <mat-tab-group (selectedIndexChange)="selectedIndexChange($event)">
        <mat-tab>
          <ng-template mat-tab-label>
            General
          </ng-template>
          <mat-card>
            <mat-card-content >

              <mat-form-field class="full-width" >
                <input matInput placeholder="Title" [(ngModel)]="bookmark.title" required [disabled]="modeEdition==false">
              </mat-form-field>


              <mat-form-field class="full-width">
                <input matInput placeholder="URL" [(ngModel)]="bookmark.url" [disabled]="modeEdition==false">
              </mat-form-field>

              <button mat-raised-button color="primary" (click)="loadTitle(bookmark.url)" placeholder="load Title" [disabled]="modeEdition==false">Load Title from url</button>
              <!-- <material-datepicker [(date)]="note.schedule_dt"></material-datepicker>-->


            </mat-card-content>


          </mat-card>

          <app-tag-select-card [(tagSelected)]="bookmark.tags" [readonly]="modeEdition==false" [disabled]="modeEdition==false"></app-tag-select-card>

          <!--<mat-card>
          (tagAdded)="tagAdded($event)" (tagRemoved)="tagRemoved($event)"
      <mat-card-header>
        <mat-card-title><span *ngFor="let tag of note.tags" class="inline"> <div class="tag-cloud-list">{{tag.name}}</div>
          <button mat-icon-button color="primary" (click)="delete(tag)"><mat-icon>delete</mat-icon></button>
      </span></mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <form>
          <mat-form-field>
            <input type="text" placeholder="Tag" matInput [formControl]="myControl" [mdAutocomplete]="auto" ngModel>

          </mat-form-field>
          <button *ngIf="(filteredOptions | async)?.length==0" mat-button (click)="createTag($event)">Create...</button>
          <mat-autocomplete #auto="mdAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let tag of filteredOptions | async" [value]="tag">
              {{ tag.name }}
            </mat-option>
          </mat-autocomplete>

        </form>
      </mat-card-content>
    </mat-card>
    -->

        </mat-tab>

        <!--<mat-tab>-->
          <!--<ng-template mat-tab-label>-->
            <!--Comments-->
          <!--</ng-template>-->

        <!--</mat-tab>-->

        <mat-tab>
          <ng-template mat-tab-label>
            Tracking
          </ng-template>
          <mat-card class="date">
            <mat-card-header>
              <mat-card-title><strong>Date</strong></mat-card-title>
            </mat-card-header>
            <mat-card-content>
              Date Creation:{{bookmark.created_dt | date:'medium'}}
              <!--<input type='text' #myDate [(ngModel)]='note.created_dt'/><br>-->
            </mat-card-content>
          </mat-card>

        </mat-tab>


      </mat-tab-group>


      <div *ngIf="showEditor" class="editor">
        <!--<app-tiny-editor [(ngModel)]='note.description' ></app-tiny-editor> -->
        <app-tiny-editor [elementId]="my-editor-id" [content]='bookmark.description' (onEditorKeyup)="keyupHandlerFunction($event)"></app-tiny-editor>
      </div>
      <!-- <button (click)="save()" mat-mini-fab class="mini-fab"><mat-icon>save</mat-icon></button>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->
