

 .center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}   



div.tag-cloud {
  /*background-color:#3498db;*/
  /*arrondir les coins en haut à gauche et en bas à droite*/
  border: 1px solid #ddd ;
  -moz-border-radius:8px 8px;
  -webkit-border-radius:8px 8px;
  border-radius:8px 8px;
  
  padding-left: 5px;
  padding-right: 5px;

  display: inline;
  margin: 1px;
  margin-left: 10px;
  margin-right: 10px;
  /*line-height: 25px;*/  
}



.thumbnail {
  height: 30px;
  overflow: hidden; 
  margin-bottom: 2px;
    
  padding-top: 0px;
  padding-right: 5px;
 
  border: 0px;
  }
.thumbnail:hover {
   
  border:1px solid #3498db }

  .caption {
    padding: 0px; 
  }

  .inline {
    display: inline; 
  }

  .titre {
    min-width: 600px; 
    
  }
  
  .row-centered {
  text-align: center;
  display: table-row;
}



.content-container {
    height: 300px;
}
.content-scroll-container {
    overflow-y: scroll;
}



.titre-search {
  width: 500px;
}


/*md-tab-header.mat-tab-header md-icon.material-icons.mat-icon{
  padding-top: 12px;
}*/


/* toolbar */

.relative {
        position: relative;
}

.bottom {
    position: absolute;
    bottom: 0;
    }

.top {
    position: fixed;
    top: 50;
    width: 100%;
    z-index: 1;
}



.pad{
  padding-top: 20px;
}


