

<!--  body -->
<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 col-centered">
      <md-chip-list>
        <!--<div *ngFor="let tag of  tags " class='tag-cloud size-{{tag.size}} {{tag.itemclass}}' id="{{tag.id}}">{{tag.name}}</div>-->
        <!--<md-chip *ngFor="let tag of  tags " selected="true" color="current">{{tag.name}}</md-chip>-->
      </md-chip-list>
    </div>
  </div>

 
  
  <div class="row">

    <md-tab-group  > 
      <!-- tab resultat-->
      <md-tab *ngIf="_count">

        <template md-tab-label>
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3 ">
              <md-icon>list</md-icon>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9 text-left">({{_count}}) Result(s)</div>
          </div>
        </template>
        <div class="col-md-12 col-sm-12 col-xs-12">

          <div class="hide-sm">
            <!--<button (click)="clear()">clear Notes</button>-->
            <!--<button (click)="notification()">Notif</button>-->
          </div>


          <!--- content note -->
          <md-nav-list>
            <md-list-item *ngFor="let note of notes">

              <a *ngIf="note.url && note.id" md-list-icon md-icon target="_blank" href="{{note.url}}">
                <md-icon color="primary">star</md-icon>
              </a>
              <md-icon md-list-icon *ngIf="!note.url" color="primary">note</md-icon>

              <a md-line [routerLinkActive]="['active']" [routerLink]="['/favorites', note.id ]">
                            {{ note.title }}
              </a>

              <button *ngFor="let key of note.rate | toArray" md-icon-button color="primary" class="hide-sm"><md-icon>star_rate</md-icon></button>
              <div *ngFor="let tag of note.tags" class="hide-sm tag-cloud-list"> {{tag.name}}</div>


              <button md-icon-button [routerLinkActive]="['active']" [routerLink]="['/favorites', note.id ]" placeholder="show Note" color="primary"
                class="hide-sm">
                  <md-icon>mode_edit</md-icon>
              </button>

              <button *ngIf="note.status!='T' " md-icon-button (click)="trash(note)" placeholder="Send to Trash Note" color="primary">
                  <md-icon>delete</md-icon>
              </button>

              <button *ngIf="note.status=='T'" md-icon-button (click)="delete(note)" placeholder="Send to Trash Note" color="primary">
                  <md-icon>delete_forever</md-icon>
              </button>
              <!--<app-rating [(rate)]="note.rate"></app-rating>-->

            </md-list-item>
            <md-divider></md-divider>
            <md-list-item *ngIf="_next" (click)="next()">
              <md-icon>keyboard_arrow_down</md-icon>
            </md-list-item>
          </md-nav-list>

          <!--
      <div *ngFor="let note of notes" class="col-md-10 col-sm-7  col-xs-7">
        <div class="thumbnail" id="{{note.id}}">

          <div class="caption">
            <div class="title">

              <div class="menubar pull-left titre">
                <div class="inline">{{ note.title }}</div>
              </div>

              <div class="menubar pull-right">
                <a [routerLink]="['/favorites',note.id ]" tooltip="show Note"><i class="fa fa-eye"></i></a>
                <a href=""><i class="fa fa-pencil"></i></a>
                <a href=""><i class="fa fa-trash"></i></a>
              </div>
              <div class="menubar pull-right">
                <div *ngFor="let tag of note.tags" class="tag-cloud-list"> {{tag.name}}</div>
              </div>
            </div>
          </div>


-->


          <!--<div style="padding-top:0px">
                      <p>{{ note.title }}</p>

          </div>-->
          <!-- <div class="content">
            <p [innerHTML]="note.description"></p>
          </div>-->
          <!--   </div>
        
      </div>-->

        </div>

      </md-tab>

      <!-- tab recherche-->

      <md-tab>

        <template md-tab-label>
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3 ">
              <md-icon>search</md-icon>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9 text-left">Search</div>
          </div>
        </template>


      </md-tab>



    </md-tab-group>

  </div>
</div>