<mat-menu #appMenuAppNew="matMenu">
  <a mat-menu-item [routerLinkActive]="['active']" [routerLink]="['//']">Home</a>
</mat-menu>

<mat-menu #appMenu="matMenu"> </mat-menu>

<mat-toolbar color="primary">
  <span>

    <button mat-icon-button [routerLinkActive]="['active']" [routerLink]="['/favorites']"><mat-icon>keyboard_backspace</mat-icon> </button>
  </span>
  <span>Create a Favorite</span>
  <span class="fill-remaining-space"></span>

  <span>
    <button mat-icon-button [routerLinkActive]="['active']" [routerLink]="['/favorites/create']" placeholder="New Bookmark">
        <mat-icon>add_box</mat-icon>
    </button>
    <button mat-icon-button >
     <mat-icon>search</mat-icon>
    </button>
  </span>
  <span>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </span>
</mat-toolbar>

<!--  Tool bar -->

<div class="container">


</div>
