<mat-menu #appMenu="matMenu">
  <mat-card>
    <mat-card-content>{{user.first_name}}{{user.last_name}}
      {{user.email}}</mat-card-content>
    <mat-card-actions>
      <button mat-button *ngIf="isAuthentified()" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Log Out
      </button>
    </mat-card-actions>
  </mat-card>
</mat-menu>

<!--
   [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
   [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"> -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">My Bookmarks</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#/bookmark/list"><mat-icon>search</mat-icon>Bookmarks</a>
      <a mat-list-item href="#/bookmark/detail/0"><mat-icon>edit</mat-icon>New</a>
      <a mat-list-item href="#/bookmark/folders"><mat-icon>folder</mat-icon>Folders</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span *ngIf="(isHandset$ | async)">My Bookmarks</span>
      <span class="fill-remaining-space"></span>
      <button  mat-icon-button  [matMenuTriggerFor]="appMenu"> <mat-icon>account_circle</mat-icon></button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
