/* You can add global styles to this file, and also import other style files */

/* @import '~@angular/material/core/theming/prebuilt/indigo-pink.css'; */

html{
  /*color: fafafa;*/
}
html, body{
    margin: 0;
    padding: 0;

    min-width: 100%;
    width: 100%;
    max-width: 100%;

    min-height: 100%;
    height: 100%;
    max-height: 100%;
}

#main{
	/*max-width:1280px;*/   
	min-height:100%;
	/*margin:0 auto;*/
	position:relative;
}


.primary-color {
    color: #3F51B5!important;
  }
.accent-color {
    color: #FF4081!important;
  }
.background-primary-color {
    background-color: #3F51B5!important;
  }
.background-accent-color {
    background-color: #FF4081!important;
  }
.white-text {
    color: #FFF!important;
}




md-chip.mat-chip.mat-chip-selected.mat-current{
  background-color: #FF4081!important;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;     /* Align the flex-items vertically */
  justify-content: center; /* Optional, to align inner flex-items
                              horizontally within the column  */
}

/*toolbar */

.fill-remaining-space {
  flex: 1 1 auto;
}

/*input*/

.full-width {
  width: 100%;
}


div.container{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
   padding-left: 10px;
  margin-left: 0px;
}
.row{
  margin-left: 0px;
  margin-right: 0px;
}

md-icon svg {
    fill: currentColor;
}

.col-centered{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


div.tag-cloud-list {
  border: 1px solid #ddd ;
  -moz-border-radius:8px 8px;
  -webkit-border-radius:8px 8px;
  border-radius:8px 8px;
  
  padding-left: 5px;
  padding-right: 5px;
  padding-top:0px;
  display: inline; 
  margin: 1px;
}
div.inline {
 display: inline; 
}


.full-width {
  width: 100%;
}

@media (max-width: 991px) {
  
  button.hide-sm{
    display: none;
  }
  div.hide-sm{
      display: none;
  }
  .hide-sm{
      display: none;
   }
}

@media (max-width: 1240px) {
  .hide-md{
      display: none;
   }
}
