<!--  body -->
<div class="container">
  <div class="row">
    <!--- content media -->
    <mat-toolbar>
      <span *ngIf="showResult">Found ({{bookmarks.length}}) Resultats </span>
      <span *ngIf="!showResult">Search a Bookmark </span>
      <span class="fill-remaining-space"></span>
      <span>
        <button  *ngIf="showResult" mat-icon-button (click)="search()" matTooltip="Filter result">
            <mat-icon>filter_list</mat-icon>
        </button>
        <button *ngIf="showResult" mat-icon-button (click)="showSearch()" matTooltip="Search">
            <mat-icon>search</mat-icon>
        </button>

        <button *ngIf="!showResult"  mat-raised-button (click)="search()" matTooltip="Search">
            <mat-icon>search</mat-icon> Search
        </button>
        <button *ngIf="showResult"  mat-icon-button (click)="search()" matTooltip="Refresh">
            <mat-icon>refresh</mat-icon>
        </button>
      </span>
      <mat-slide-toggle *ngIf="showResult" [checked]="modeEdition" [(ngModel)]="modeEdition"></mat-slide-toggle>
    </mat-toolbar>

    <app-bookmark-search *ngIf="!showResult"></app-bookmark-search>
    <mat-nav-list *ngIf="showResult">

      {{tags}}
      <mat-list-item *ngFor="let bookmark of bookmarks" ngmodel>

        <div style="margin-right: 0px">
          <!--<a *ngIf="bookmark.url && bookmark.id" mat-list-icon mat-icon target="_blank" href="{{bookmark.url}}" matTooltip="Open in Browser">
            <mat-icon color="primary">open_in_new</mat-icon>
          </a>-->
          <div>
            <a mat-icon-button (click)="detail(bookmark)" style="max-width: 600px;overflow: hidden" matTooltip="Edit Bookmark">
              <mat-icon color="primary">create</mat-icon>
            </a>
          </div>
          <!--<mat-icon mat-list-icon *ngIf="!bookmark.url" color="primary">note</mat-icon>-->
        </div>
        <!--<a mat-line [routerLinkActive]="['active']" [routerLink]="['/favorites/detail', bookmark.id ]" style="max-height: 100px">
                          {{ bookmark.title }}
        </a>-->
        <!-- [routerLink]="['/webmark/detail', bookmark.id ]"-->
        <span>
            <div><a mat-line  href="{{bookmark.url}}" target="_blank" style="max-width: 600px;overflow: hidden" matTooltip="{{bookmark.url}}"> {{ bookmark.title }} </a></div>
            <div class="tag-cloud-list"> {{bookmark.url}}</div>
            <div *ngFor="let tag of bookmark.tags" class="tag-cloud-list"> {{tag.name}}</div>
        </span>

        <span class="fill-remaining-space"></span>
        <div style="display: flex;justify-content: center;align-items: center;" class="hide-sm">


          <button mat-icon-button (click)="openFolderCreateDialog(bookmark.id)" ><mat-icon  color="primary" class="hide-sm">folder_shared</mat-icon></button>
          <button *ngFor="let key of bookmark.rate | toArray" mat-icon-button color="primary" class="hide-sm"><mat-icon>star_rate</mat-icon></button>
            <mat-icon *ngIf="bookmark.favorite" color="accent" class="hide-sm"> favorite</mat-icon>
            <mat-icon *ngIf="!bookmark.favorite" color="primary" class="hide-sm">favorite_border</mat-icon>
            <button *ngIf="bookmark.status!='T' && modeEdition" mat-icon-button (click)="trash(bookmark)" placeholder="Send to Trash" color="primary"
              class="hide-sm">
                      <mat-icon>delete</mat-icon>
                  </button>

            <button *ngIf="bookmark.status=='T' && modeEdition" mat-icon-button (click)="delete(bookmark)" placeholder="Send to Trash" color="primary"
              class="hide-sm">
                      <mat-icon>delete_forever</mat-icon>
                  </button>
            <button *ngIf="bookmark.id && !bookmark.archive_id && modeEdition" mat-icon-button (click)="archive($event.target,bookmark)" color="primary"
              class="hide-sm"><mat-icon>cloud_upload</mat-icon></button>

            <!--<button *ngIf="bookmark.id && bookmark.archive_id" mat-icon-button color="primary"><mat-icon>backup</mat-icon></button>-->

            <a *ngIf="bookmark.id && bookmark.archive_id && modeEdition" mat-icon-button target="_blank" href="{{urlDownload(bookmark)}}">
              <mat-icon color="primary" class="hide-sm" class="hide-sm">cloud_down</mat-icon>
            </a>

          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item *ngIf="links.next" (click)="next()">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
